<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ block('title') }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="images/icon.png" />
    <style>
        @font-face {
            font-family: 'Cubic 11';
            font-style: normal;
            font-weight: 100;
            src: url(fonts/Cubic_11_1.013_R.woff2) format('woff2'),
                url(fonts/Cubic_11_1.013_R.woff) format('woff');
        }
        html, body{
            font-family: 'Cubic 11', sans-serif;
        }
        a, a:link, a:visited {
            color: #568cc6;
            text-decoration: none;
        }
        a:hover, a:active {
            color: rgb(219, 219, 219);
        }
    </style>
    {% block styles %}{% endblock %}
</head>
<body class="bg-dark text-light">
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>